.navbar {
    display: flex;
    justify-content: space-between;
    /* pushes left & right */
    align-items: center;
    padding: 15px 40px;
    background-color: #111827;
}

.logo {
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #ff9900;
}

.nav-links a.active {
    color: #ff9900;
    border-bottom: 2px solid #ff9900;
    padding-bottom: 4px;
}