name: Angular CI/CD to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build Angular
        run: npm run build -- --configuration production

      - name: Deploy to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: 34.232.80.153
          username: ubuntu
          key: mysecret
          source: "dist/*/browser/*"
          target: "/var/www/html"
          strip_components: 3
